KSNCIS301.module/Schemas/CISKSNPMCO/CISKSNPMCO0110102/CISKSNPMCO0110102_OutRes.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:e="http://shacon.kr/xsd" xmlns:ns="http://schema.hcis.com/xsd/CISKSNPMCO0110102_OutRes" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schema.hcis.com/xsd/CISKSNPMCO0110102_OutRes">
    <complexType name="CISHeaderType">
        <sequence>
            <element e:kor="전체전문길이" e:length="8" e:padder="SpaceRight" minOccurs="0" name="totTgrmLen" nillable="true" type="integer"/>
            <element e:kor="헤더길이" e:length="8" e:padder="SpaceRight" minOccurs="0" name="hdrLen" nillable="true" type="integer"/>
            <element e:kor="전문형식코드" e:length="1" e:padder="SpaceRight" minOccurs="0" name="tgrmFrmCd" nillable="true" type="string"/>
            <element e:kor="시스템환경구분코드" e:length="1" e:padder="SpaceRight" minOccurs="0" name="sysEnvGbcd" nillable="true" type="string"/>
            <element e:kor="IP주소" e:length="40" e:padder="SpaceRight" minOccurs="0" name="ipAdr" nillable="true" type="string"/>
            <element e:kor="GUID" e:length="38" e:padder="SpaceRight" minOccurs="0" name="guid" nillable="true" type="string"/>
            <element e:kor="진행번호" e:length="3" e:padder="SpaceRight" minOccurs="0" name="prgrNo" nillable="true" type="integer"/>
            <element e:kor="최초GUID" e:length="38" e:padder="SpaceRight" minOccurs="0" name="frstGuid" nillable="true" type="string"/>
            <element e:kor="전송시스템코드" e:length="3" e:padder="SpaceRight" minOccurs="0" name="sendSysCd" nillable="true" type="string"/>
            <element e:kor="최초전송시스템코드" e:length="3" e:padder="SpaceRight" minOccurs="0" name="frstSendSysCd" nillable="true" type="string"/>
            <element e:kor="시스템공통예비내용" e:length="21" e:padder="SpaceRight" minOccurs="0" name="sysCommTrtyPrepCntn" nillable="true" type="string"/>
            <element e:kor="EIMS전문ID" e:length="17" e:padder="SpaceRight" minOccurs="0" name="eimsTgrmId" nillable="true" type="string"/>
            <element e:kor="EIMS전문번호" e:length="3" e:padder="SpaceRight" minOccurs="0" name="eimsTgrmVerNo" nillable="true" type="string"/>
            <element e:kor="프래임워크거래ID" e:length="12" e:padder="SpaceRight" minOccurs="0" name="frwkTrdId" nillable="true" type="string"/>
            <element e:kor="수신시스템코드" e:length="3" e:padder="SpaceRight" minOccurs="0" name="rcvSysCd" nillable="true" type="string"/>
            <element e:kor="연계전문코드" e:length="10" e:padder="SpaceRight" minOccurs="0" name="tieTgrmCd" nillable="true" type="string"/>
            <element e:kor="연계서비스그룹코드" e:length="2" e:padder="SpaceRight" minOccurs="0" name="tieSrvGrpCd" nillable="true" type="string"/>
            <element e:kor="연계서비스명" e:length="30" e:padder="SpaceRight" minOccurs="0" name="tieSrvNm" nillable="true" type="string"/>
            <element e:kor="화면번호" e:length="20" e:padder="SpaceRight" minOccurs="0" name="scrnNo" nillable="true" type="string"/>
            <element e:kor="요청응답구분코드" e:length="1" e:padder="SpaceRight" minOccurs="0" name="reqnRespGbcd" nillable="true" type="string"/>
            <element e:kor="동기처리구분코드" e:length="1" e:padder="SpaceRight" minOccurs="0" name="syncProcGbcd" nillable="true" type="string"/>
            <element e:kor="거래응답코드" e:length="1" e:padder="SpaceRight" minOccurs="0" name="trdRespCd" nillable="true" type="string"/>
            <element e:kor="페이지번호" e:length="9" e:padder="SpaceRight" minOccurs="0" name="pageNo" nillable="true" type="integer"/>
            <element e:kor="페이지행건수" e:length="9" e:padder="SpaceRight" minOccurs="0" name="pageRowCnt" nillable="true" type="integer"/>
            <element e:kor="전체레코드건수" e:length="9" e:padder="SpaceRight" minOccurs="0" name="totRowCnt" nillable="true" type="integer"/>
            <element e:kor="다음페이지여부" e:length="1" e:padder="SpaceRight" minOccurs="0" name="nxtPageYn" nillable="true" type="string"/>
            <element e:kor="요청일시" e:length="17" e:padder="SpaceRight" minOccurs="0" name="reqnDtm" nillable="true" type="string"/>
            <element e:kor="응답일시" e:length="17" e:padder="SpaceRight" minOccurs="0" name="respDtm" nillable="true" type="string"/>
            <element e:kor="점코드" e:length="3" e:padder="SpaceRight" minOccurs="0" name="storeCd" nillable="true" type="string"/>
            <element e:kor="사용자ID" e:length="8" e:padder="SpaceRight" minOccurs="0" name="userId" nillable="true" type="string"/>
            <element e:kor="거래공통영역예비내용" e:length="100" e:padder="SpaceRight" minOccurs="0" name="trdCommTrtyPrepCntn" nillable="true" type="string"/>
            <element e:kor="메시지그룹명" e:length="0" e:padder="SpaceRight" minOccurs="0" name="msgGrpNm" nillable="true" type="ns:msgGrpNmType"/>
            <element e:kor="표준전문종료문자값" e:length="2" e:padder="SpaceRight" minOccurs="0" name="stdTgrmEndLettrVal" nillable="true" type="string"/>
        </sequence>
    </complexType>
    <complexType name="msgGrpNmType">
        <sequence>
            <element e:kor="메시지표시방법구분코드" e:length="1" e:padder="SpaceRight" minOccurs="0" name="msgShwMthdGbcd" nillable="true" type="string"/>
            <element e:kor="오류발생전문항목명" e:length="50" e:padder="SpaceRight" minOccurs="0" name="errOcrnTgrmClasNm" nillable="true" type="string"/>
            <element e:kor="메시지코드" e:length="10" e:padder="SpaceRight" minOccurs="0" name="msgCd" nillable="true" type="string"/>
            <element e:kor="메시지내용" e:length="300" e:padder="SpaceRight" minOccurs="0" name="msgCntn" nillable="true" type="string"/>
            <element e:kor="메시지세부내용" e:length="1000" e:padder="SpaceRight" minOccurs="0" name="msgDtlCntn" nillable="true" type="string"/>
        </sequence>
    </complexType>
    <complexType name="CISKSNPMCO0110102_OutRes_Header">
        <sequence>
            <element e:kor="식별코드" e:length="9" e:padder="SpaceRight" name="trCode" nillable="true" type="string"/>
            <element e:kor="업체코드" e:length="8" e:padder="SpaceRight" name="svcGb" nillable="true" type="string"/>
            <element e:kor="은행코드2" e:length="2" e:padder="SpaceRight" name="bnkCd2" nillable="true" type="string"/>
            <element e:kor="메시지코드" e:length="4" e:padder="SpaceRight" name="msgCd" nillable="true" type="string"/>
            <element e:kor="업무구분코드" e:length="3" e:padder="SpaceRight" name="jobGbcd" nillable="true" type="string"/>
            <element e:kor="송신횟수" e:length="1" e:padder="ZeroLeft" name="trsCnt" nillable="true" type="long"/>
            <element e:kor="전문번호" e:length="6" e:padder="SpaceRight" name="ediNo" nillable="true" type="string"/>
            <element e:kor="전송일자" e:length="8" e:padder="SpaceRight" name="sdDate" nillable="true" type="string"/>
            <element e:kor="전송시간" e:length="6" e:padder="SpaceRight" name="sdTime" nillable="true" type="string"/>
            <element e:kor="응답코드" e:length="4" e:padder="SpaceRight" name="retCd" nillable="true" type="string"/>
            <element e:kor="은행응답코드" e:length="4" e:padder="SpaceRight" name="bnkRetCd" nillable="true" type="string"/>
            <element e:kor="조회일자" e:length="8" e:padder="SpaceRight" name="qryDt" nillable="true" type="string"/>
            <element e:kor="조회번호" e:length="6" e:padder="SpaceRight" name="qryNo" nillable="true" type="string"/>
            <element e:kor="은행전문번호" e:length="15" e:padder="SpaceRight" name="bnkEdiNo" nillable="true" type="string"/>
            <element e:kor="은행코드3" e:length="3" e:padder="SpaceRight" name="bnkCd3" nillable="true" type="string"/>
            <element e:kor="예비" e:length="13" e:padder="SpaceRight" name="sdFlag" nillable="true" type="string"/>
        </sequence>
    </complexType>
    <complexType name="CISKSNPMCO0110102_OutRes_Body">
        <sequence>
            <element e:kor="계좌번호" e:length="15" e:padder="SpaceRight" name="acno" nillable="true" type="string"/>
            <element e:kor="조립건수" e:length="2" e:padder="ZeroLeft" name="asmbCnt" nillable="true" type="long"/>
            <element e:kor="거래구분" e:length="2" e:padder="SpaceRight" name="trdGb" nillable="true" type="string"/>
            <element e:kor="은행코드" e:length="2" e:padder="SpaceRight" name="bnkCd" nillable="true" type="string"/>
            <element e:kor="금액" e:length="13" e:padder="ZeroLeft" name="amt" nillable="true" type="long"/>
            <element e:kor="잔액" e:length="13" e:padder="ZeroLeft" name="blnc" nillable="true" type="long"/>
            <element e:kor="입금지점코드6" e:length="6" e:padder="SpaceRight" name="iamtBrnCd6" nillable="true" type="string"/>
            <element e:kor="적요" e:length="14" e:padder="SpaceRight" name="abst" nillable="true" type="string"/>
            <element e:kor="수표번호" e:length="10" e:padder="SpaceRight" name="checkNo" nillable="true" type="string"/>
            <element e:kor="현금" e:length="13" e:padder="ZeroLeft" name="cash" nillable="true" type="long"/>
            <element e:kor="타행수표금액" e:length="13" e:padder="ZeroLeft" name="obnkCheckAmt" nillable="true" type="long"/>
            <element e:kor="가계수표기타금액" e:length="13" e:padder="ZeroLeft" name="prckEtcAmt" nillable="true" type="long"/>
            <element e:kor="가상계좌번호" e:length="16" e:padder="SpaceRight" name="virtAcno" nillable="true" type="string"/>
            <element e:kor="거래일자" e:length="8" e:padder="SpaceRight" name="trdDt" nillable="true" type="string"/>
            <element e:kor="거래시간" e:length="6" e:padder="SpaceRight" name="trdTime" nillable="true" type="string"/>
            <element e:kor="통장거래일련번호" e:length="6" e:padder="SpaceRight" name="bnkbTrdSeqno" nillable="true" type="string"/>
            <element e:kor="거래은행코드3" e:length="7" e:padder="SpaceRight" name="trdBnkCd3" nillable="true" type="string"/>
            <element e:kor="입금지점코드7" e:length="7" e:padder="SpaceRight" name="iamtBrnCd7" nillable="true" type="string"/>
            <element e:kor="예비" e:length="38" e:padder="SpaceRight" name="spare" nillable="true" type="string"/>
        </sequence>
    </complexType>
    <complexType name="CISKSNPMCO0110102_OutRes">
        <sequence>
            <element name="bizHeader" type="ns:CISKSNPMCO0110102_OutRes_Header"/>
            <element name="bizBody" type="ns:CISKSNPMCO0110102_OutRes_Body"/>
        </sequence>
    </complexType>
    <complexType name="rootType">
        <sequence>
            <element name="header" type="ns:CISHeaderType"/>
            <element name="data" type="ns:CISKSNPMCO0110102_OutRes"/>
        </sequence>
    </complexType>
    <element name="root" type="ns:rootType"/>
</schema>
