ARBCIS301.module/Schemas/ARBCISCTJD/ARBCISCTJD0090111/CISARBCTJD0090111_InRes_df.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:e="http://shacon.kr/xsd" xmlns:ns="http://schema.hcis.com/xsd/CISARBCTJD0090111" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://schema.hcis.com/xsd/CISARBCTJD0090111">
    <element name="root">
        <complexType>
            <sequence>
                <element name="bizHeader" type="ns:CISARBCTJD0090111_InRes_Header"/>
                <element name="bizBody" type="ns:CISARBCTJD0090111_InRes_Body"/>
            </sequence>
        </complexType>
    </element>
</schema>
