CISOSE301.module/Schemas/CISOSECTIC/CISOSECTIC0050101/CISOSECTIC0050101_OutReq_df.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:e="http://shacon.kr/xsd" xmlns:ns="http://schema.hcis.com/xsd/CISOSECTIC0050101" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://schema.hcis.com/xsd/CISOSECTIC0050101">
    <element name="root">
        <complexType>
            <sequence>
                <element name="bizHeader" type="ns:CISOSECTIC0050101_OutReq_Header"/>
                <element name="bizBody" type="ns:CISOSECTIC0050101_OutReq_Body"/>
            </sequence>
        </complexType>
    </element>
</schema>
