CISOSE301.module/Schemas/CISOSECTIC/CISOSECTIC0050101/OSECISCTIC0050102_OutRes_df.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:e="http://shacon.kr/xsd" xmlns:ns="http://schema.hcis.com/xsd/OSECISCTIC0050102" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://schema.hcis.com/xsd/OSECISCTIC0050102">
    <element name="root">
        <complexType>
            <sequence>
                <element name="bizHeader" type="ns:OSECISCTIC0050102_OutRes_Header"/>
                <element name="bizBody" type="ns:OSECISCTIC0050102_OutRes_Body"/>
            </sequence>
        </complexType>
    </element>
</schema>
