JNICIS301.module/Schemas/JNICISCTIC/JNICISCTIC0040101/CISJNICTIC0040102_InRes_df.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:e="http://shacon.kr/xsd" xmlns:ns="http://schema.hcis.com/xsd/CISJNICTIC0040102" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://schema.hcis.com/xsd/CISJNICTIC0040102">
    <element name="root">
        <complexType>
            <sequence>
                <element name="bizHeader" type="ns:CISJNICTIC0040102_InRes_Header"/>
                <element name="bizBody" type="ns:CISJNICTIC0040102_InRes_Body"/>
            </sequence>
        </complexType>
    </element>
</schema>
