BCCCIS301.module/Schemas/BCCCISCTCN/BCCCISCTCN0010201/BCCCISCTCN0010201_OutReq.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:e="http://shacon.kr/xsd" xmlns:ns="http://schema.hcis.com/xsd/BCCCISCTCN0010201_OutReq" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schema.hcis.com/xsd/BCCCISCTCN0010201_OutReq">
    <complexType name="CISHeaderType">
        <sequence>
            <element e:kor="전체전문길이" e:length="8" e:padder="SpaceRight" minOccurs="0" name="totTgrmLen" nillable="true" type="integer"/>
            <element e:kor="헤더길이" e:length="8" e:padder="SpaceRight" minOccurs="0" name="hdrLen" nillable="true" type="integer"/>
            <element e:kor="전문형식코드" e:length="1" e:padder="SpaceRight" minOccurs="0" name="tgrmFrmCd" nillable="true" type="string"/>
            <element e:kor="시스템환경구분코드" e:length="1" e:padder="SpaceRight" minOccurs="0" name="sysEnvGbcd" nillable="true" type="string"/>
            <element e:kor="IP주소" e:length="40" e:padder="SpaceRight" minOccurs="0" name="ipAdr" nillable="true" type="string"/>
            <element e:kor="GUID" e:length="38" e:padder="SpaceRight" minOccurs="0" name="guid" nillable="true" type="string"/>
            <element e:kor="진행번호" e:length="3" e:padder="SpaceRight" minOccurs="0" name="prgrNo" nillable="true" type="integer"/>
            <element e:kor="최초GUID" e:length="38" e:padder="SpaceRight" minOccurs="0" name="frstGuid" nillable="true" type="string"/>
            <element e:kor="전송시스템코드" e:length="3" e:padder="SpaceRight" minOccurs="0" name="sendSysCd" nillable="true" type="string"/>
            <element e:kor="최초전송시스템코드" e:length="3" e:padder="SpaceRight" minOccurs="0" name="frstSendSysCd" nillable="true" type="string"/>
            <element e:kor="시스템공통예비내용" e:length="21" e:padder="SpaceRight" minOccurs="0" name="sysCommTrtyPrepCntn" nillable="true" type="string"/>
            <element e:kor="EIMS전문ID" e:length="17" e:padder="SpaceRight" minOccurs="0" name="eimsTgrmId" nillable="true" type="string"/>
            <element e:kor="EIMS전문번호" e:length="3" e:padder="SpaceRight" minOccurs="0" name="eimsTgrmVerNo" nillable="true" type="string"/>
            <element e:kor="프래임워크거래ID" e:length="12" e:padder="SpaceRight" minOccurs="0" name="frwkTrdId" nillable="true" type="string"/>
            <element e:kor="수신시스템코드" e:length="3" e:padder="SpaceRight" minOccurs="0" name="rcvSysCd" nillable="true" type="string"/>
            <element e:kor="연계전문코드" e:length="10" e:padder="SpaceRight" minOccurs="0" name="tieTgrmCd" nillable="true" type="string"/>
            <element e:kor="연계서비스그룹코드" e:length="2" e:padder="SpaceRight" minOccurs="0" name="tieSrvGrpCd" nillable="true" type="string"/>
            <element e:kor="연계서비스명" e:length="30" e:padder="SpaceRight" minOccurs="0" name="tieSrvNm" nillable="true" type="string"/>
            <element e:kor="화면번호" e:length="20" e:padder="SpaceRight" minOccurs="0" name="scrnNo" nillable="true" type="string"/>
            <element e:kor="요청응답구분코드" e:length="1" e:padder="SpaceRight" minOccurs="0" name="reqnRespGbcd" nillable="true" type="string"/>
            <element e:kor="동기처리구분코드" e:length="1" e:padder="SpaceRight" minOccurs="0" name="syncProcGbcd" nillable="true" type="string"/>
            <element e:kor="거래응답코드" e:length="1" e:padder="SpaceRight" minOccurs="0" name="trdRespCd" nillable="true" type="string"/>
            <element e:kor="페이지번호" e:length="9" e:padder="SpaceRight" minOccurs="0" name="pageNo" nillable="true" type="integer"/>
            <element e:kor="페이지행건수" e:length="9" e:padder="SpaceRight" minOccurs="0" name="pageRowCnt" nillable="true" type="integer"/>
            <element e:kor="전체레코드건수" e:length="9" e:padder="SpaceRight" minOccurs="0" name="totRowCnt" nillable="true" type="integer"/>
            <element e:kor="다음페이지여부" e:length="1" e:padder="SpaceRight" minOccurs="0" name="nxtPageYn" nillable="true" type="string"/>
            <element e:kor="요청일시" e:length="17" e:padder="SpaceRight" minOccurs="0" name="reqnDtm" nillable="true" type="string"/>
            <element e:kor="응답일시" e:length="17" e:padder="SpaceRight" minOccurs="0" name="respDtm" nillable="true" type="string"/>
            <element e:kor="점코드" e:length="3" e:padder="SpaceRight" minOccurs="0" name="storeCd" nillable="true" type="string"/>
            <element e:kor="사용자ID" e:length="8" e:padder="SpaceRight" minOccurs="0" name="userId" nillable="true" type="string"/>
            <element e:kor="거래공통영역예비내용" e:length="100" e:padder="SpaceRight" minOccurs="0" name="trdCommTrtyPrepCntn" nillable="true" type="string"/>
            <element e:kor="메시지그룹명" e:length="0" e:padder="SpaceRight" minOccurs="0" name="msgGrpNm" nillable="true" type="ns:msgGrpNmType"/>
            <element e:kor="표준전문종료문자값" e:length="2" e:padder="SpaceRight" minOccurs="0" name="stdTgrmEndLettrVal" nillable="true" type="string"/>
        </sequence>
    </complexType>
    <complexType name="msgGrpNmType">
        <sequence>
            <element e:kor="메시지표시방법구분코드" e:length="1" e:padder="SpaceRight" minOccurs="0" name="msgShwMthdGbcd" nillable="true" type="string"/>
            <element e:kor="오류발생전문항목명" e:length="50" e:padder="SpaceRight" minOccurs="0" name="errOcrnTgrmClasNm" nillable="true" type="string"/>
            <element e:kor="메시지코드" e:length="10" e:padder="SpaceRight" minOccurs="0" name="msgCd" nillable="true" type="string"/>
            <element e:kor="메시지내용" e:length="300" e:padder="SpaceRight" minOccurs="0" name="msgCntn" nillable="true" type="string"/>
            <element e:kor="메시지세부내용" e:length="1000" e:padder="SpaceRight" minOccurs="0" name="msgDtlCntn" nillable="true" type="string"/>
        </sequence>
    </complexType>
    <complexType name="BCCCISCTCN0010201_OutReq_Header">
        <sequence>
            <element e:kor="거래코드" e:length="4" e:padder="SpaceRight" minOccurs="0" name="trdCd" nillable="true" type="string"/>
            <element e:kor="전문코드" e:length="5" e:padder="SpaceRight" minOccurs="0" name="tgrmCd" nillable="true" type="string"/>
            <element e:kor="전문번호" e:length="8" e:padder="SpaceRight" minOccurs="0" name="tgrmNo" nillable="true" type="string"/>
            <element e:kor="전문전송일시" e:length="16" e:padder="SpaceRight" minOccurs="0" name="tgrmSendDtm" nillable="true" type="string"/>
            <element e:kor="테스트여부" e:length="1" e:padder="SpaceRight" minOccurs="0" name="testYn" nillable="true" type="string"/>
            <element e:kor="전문유형" e:length="1" e:padder="SpaceRight" minOccurs="0" name="tgrmType" nillable="true" type="string"/>
            <element e:kor="예비정보" e:length="19" e:padder="SpaceRight" minOccurs="0" name="prepInf" nillable="true" type="string"/>
            <element e:kor="전문길이" e:length="6" e:padder="SpaceRight" minOccurs="0" name="tgrmLen" nillable="true" type="string"/>
            <element e:kor="응답코드" e:length="4" e:padder="SpaceRight" minOccurs="0" name="respCd" nillable="true" type="string"/>
        </sequence>
    </complexType>
    <complexType name="BCCCISCTCN0010201_OutReq_Body">
        <sequence>
            <element e:kor="카드회원번호" e:length="9" e:padder="SpaceRight" minOccurs="0" name="crdMemNo" nillable="true" type="string"/>
            <element e:kor="카드회원번호CI값" e:length="88" e:padder="SpaceRight" minOccurs="0" name="crdMemNoCiVal" nillable="true" type="string"/>
            <element e:kor="회원한글명" e:length="20" e:padder="SpaceRight" minOccurs="0" name="memHnm" nillable="true" type="string"/>
            <element e:kor="회원영문명" e:length="30" e:padder="SpaceRight" minOccurs="0" name="memEnm" nillable="true" type="string"/>
            <element e:kor="성별구분코드" e:length="1" e:padder="SpaceRight" minOccurs="0" name="sexGbcd" nillable="true" type="string"/>
            <element e:kor="이메일주소" e:length="50" e:padder="SpaceRight" minOccurs="0" name="emailAdr" nillable="true" type="string"/>
            <element e:kor="TM수신여부" e:length="1" e:padder="SpaceRight" minOccurs="0" name="tmRcvYn" nillable="true" type="string"/>
            <element e:kor="DM수신여부" e:length="1" e:padder="SpaceRight" minOccurs="0" name="dmRcvYn" nillable="true" type="string"/>
            <element e:kor="SMS수신여부" e:length="1" e:padder="SpaceRight" minOccurs="0" name="smsRcvYn" nillable="true" type="string"/>
            <element e:kor="이메일수신여부" e:length="1" e:padder="SpaceRight" minOccurs="0" name="emailRcvYn" nillable="true" type="string"/>
            <element e:kor="자택우편번호" e:length="6" e:padder="SpaceRight" minOccurs="0" name="hmPostNo" nillable="true" type="string"/>
            <element e:kor="자택신구주소구분코드" e:length="1" e:padder="SpaceRight" minOccurs="0" name="hmNewOldAdrGbcd" nillable="true" type="string"/>
            <element e:kor="자택도로명참조KEY" e:length="25" e:padder="SpaceRight" minOccurs="0" name="hmRdnmRfrKey" nillable="true" type="string"/>
            <element e:kor="자택주소1" e:length="200" e:padder="SpaceRight" minOccurs="0" name="hmAdr1" nillable="true" type="string"/>
            <element e:kor="자택주소2" e:length="200" e:padder="SpaceRight" minOccurs="0" name="hmAdr2" nillable="true" type="string"/>
            <element e:kor="자택전화번호" e:length="16" e:padder="SpaceRight" minOccurs="0" name="hmTelno" nillable="true" type="string"/>
            <element e:kor="직장명" e:length="30" e:padder="SpaceRight" minOccurs="0" name="ofcNm" nillable="true" type="string"/>
            <element e:kor="부서명" e:length="40" e:padder="SpaceRight" minOccurs="0" name="deptNm" nillable="true" type="string"/>
            <element e:kor="직위명" e:length="20" e:padder="SpaceRight" minOccurs="0" name="pstnNm" nillable="true" type="string"/>
            <element e:kor="직장우편번호" e:length="6" e:padder="SpaceRight" minOccurs="0" name="ofcPostNo" nillable="true" type="string"/>
            <element e:kor="직장신구주소구분코드" e:length="1" e:padder="SpaceRight" minOccurs="0" name="ofcNewOldAdrGbcd" nillable="true" type="string"/>
            <element e:kor="직장도로명참조KEY" e:length="25" e:padder="SpaceRight" minOccurs="0" name="ofcRdnmRfrKey" nillable="true" type="string"/>
            <element e:kor="직장주소1" e:length="200" e:padder="SpaceRight" minOccurs="0" name="ofcAdr1" nillable="true" type="string"/>
            <element e:kor="직장주소2" e:length="200" e:padder="SpaceRight" minOccurs="0" name="ofcAdr2" nillable="true" type="string"/>
            <element e:kor="직장전화번호" e:length="16" e:padder="SpaceRight" minOccurs="0" name="ofcTelno" nillable="true" type="string"/>
            <element e:kor="청구지우편번호" e:length="6" e:padder="SpaceRight" minOccurs="0" name="biltoPostNo" nillable="true" type="string"/>
            <element e:kor="청구지신구구분코드" e:length="1" e:padder="SpaceRight" minOccurs="0" name="biltoNewOldGbcd" nillable="true" type="string"/>
            <element e:kor="청구지도로명참조KEY" e:length="25" e:padder="SpaceRight" minOccurs="0" name="biltoRdnmRfrKey" nillable="true" type="string"/>
            <element e:kor="청구지주소1" e:length="200" e:padder="SpaceRight" minOccurs="0" name="biltoAdr1" nillable="true" type="string"/>
            <element e:kor="청구지주소2" e:length="200" e:padder="SpaceRight" minOccurs="0" name="biltoAdr2" nillable="true" type="string"/>
            <element e:kor="청구서발송구분코드" e:length="1" e:padder="SpaceRight" minOccurs="0" name="billSenmGbcd" nillable="true" type="string"/>
            <element e:kor="결혼여부" e:length="1" e:padder="SpaceRight" minOccurs="0" name="mrrgYn" nillable="true" type="string"/>
            <element e:kor="결혼기념일자" e:length="8" e:padder="SpaceRight" minOccurs="0" name="mrrgClbrDt" nillable="true" type="string"/>
            <element e:kor="생년월일" e:length="8" e:padder="SpaceRight" minOccurs="0" name="bymd" nillable="true" type="string"/>
            <element e:kor="생일구분코드" e:length="1" e:padder="SpaceRight" minOccurs="0" name="birGbcd" nillable="true" type="string"/>
            <element e:kor="휴대전화번호" e:length="16" e:padder="SpaceRight" minOccurs="0" name="mobiTelno" nillable="true" type="string"/>
            <element e:kor="결과메시지" e:length="80" e:padder="SpaceRight" minOccurs="0" name="rstMsg" nillable="true" type="string"/>
            <element e:kor="예비정보" e:length="36" e:padder="SpaceRight" minOccurs="0" name="prepInf" nillable="true" type="string"/>
        </sequence>
    </complexType>
    <complexType name="BCCCISCTCN0010201_OutReq">
        <sequence>
            <element e:kor="BIZ공통부" name="bizHeader" type="ns:BCCCISCTCN0010201_OutReq_Header"/>
            <element e:kor="BIZ데이터부" name="bizBody" type="ns:BCCCISCTCN0010201_OutReq_Body"/>
        </sequence>
    </complexType>
    <complexType name="rootType">
        <sequence>
            <element e:kor="CIS공통부" name="header" type="ns:CISHeaderType"/>
            <element e:kor="CIS데이터부" name="data" type="ns:BCCCISCTCN0010201_OutReq"/>
        </sequence>
    </complexType>
    <element name="root" type="ns:rootType"/>
</schema>
