JCNCIS301.module/Schemas/JCNCISCTJD/JCNCISCTJD0140102/CISJCNCTJD0140102_InRes_df.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:e="http://shacon.kr/xsd" xmlns:ns="http://schema.hcis.com/xsd/CISJCNCTJD0140102" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://schema.hcis.com/xsd/CISJCNCTJD0140102">
    <element name="root">
        <complexType>
            <sequence>
                <element name="bizHeader" type="ns:CISJCNCTJD0140102_InRes_Header"/>
                <element name="bizBody" type="ns:CISJCNCTJD0140102_InRes_Body"/>
            </sequence>
        </complexType>
    </element>
</schema>
