JCNCIS301.module/Schemas/JCNCISCTJD/JCNCISCTJD0140102/JCNCISCTJD0140102_InReq_df.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:e="http://shacon.kr/xsd" xmlns:ns="http://schema.hcis.com/xsd/JCNCISCTJD0140102" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://schema.hcis.com/xsd/JCNCISCTJD0140102">
    <element name="root">
        <complexType>
            <sequence>
                <element name="bizHeader" type="ns:JCNCISCTJD0140102_InReq_Header"/>
                <element name="bizBody" type="ns:JCNCISCTJD0140102_InReq_Body"/>
            </sequence>
        </complexType>
    </element>
</schema>
