HCNCIS301.module/Schemas/HCNCISCTJD/HCNCISCTJD0120103/CISHCNCTJD0120104_InRes_df.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:e="http://shacon.kr/xsd" xmlns:ns="http://schema.hcis.com/xsd/CISHCNCTJD0120104" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://schema.hcis.com/xsd/CISHCNCTJD0120104">
    <element name="root">
        <complexType>
            <sequence>
                <element name="bizHeader" type="ns:CISHCNCTJD0120104_InRes_Header"/>
                <element name="bizBody" type="ns:CISHCNCTJD0120104_InRes_Body"/>
            </sequence>
        </complexType>
    </element>
</schema>
