HCNCIS301.module/Schemas/HCNCISCTJD/HCNCISCTJD0120103/HCNCISCTJD0120103_InReq_df.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:e="http://shacon.kr/xsd" xmlns:ns="http://schema.hcis.com/xsd/HCNCISCTJD0120103" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://schema.hcis.com/xsd/HCNCISCTJD0120103">
    <element name="root">
        <complexType>
            <sequence>
                <element name="bizHeader" type="ns:HCNCISCTJD0120103_InReq_Header"/>
                <element name="bizBody" type="ns:HCNCISCTJD0120103_InReq_Body"/>
            </sequence>
        </complexType>
    </element>
</schema>
