CNMCIS301.module/Schemas/CNMCISCTJD/CNMCISCTJD0110101/CISCNMCTJD0110102_InRes_df.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:e="http://shacon.kr/xsd" xmlns:ns="http://schema.hcis.com/xsd/CISCNMCTJD0110102" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://schema.hcis.com/xsd/CISCNMCTJD0110102">
    <element name="root">
        <complexType>
            <sequence>
                <element name="bizHeader" type="ns:CISCNMCTJD0110102_InRes_Header"/>
                <element name="bizBody" type="ns:CISCNMCTJD0110102_InRes_Body"/>
            </sequence>
        </complexType>
    </element>
</schema>
