CNMCIS301.module/Schemas/CNMCISCTJD/CNMCISCTJD0110101/CNMCISCTJD0110101_InReq_df.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:e="http://shacon.kr/xsd" xmlns:ns="http://schema.hcis.com/xsd/CNMCISCTJD0110101" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://schema.hcis.com/xsd/CNMCISCTJD0110101">
    <element name="root">
        <complexType>
            <sequence>
                <element name="bizHeader" type="ns:CNMCISCTJD0110101_InReq_Header"/>
                <element name="bizBody" type="ns:CNMCISCTJD0110101_InReq_Body"/>
            </sequence>
        </complexType>
    </element>
</schema>
