CISTOS301.module/Schemas/TOSCISPMRZ/TOSCISPMRZ0010302/TOSCISPMRZ0010302_InRes.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:e="http://shacon.kr/xsd" xmlns:ns="http://schema.hcis.com/xsd/TOSCISPMRZ0010302_InRes" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schema.hcis.com/xsd/TOSCISPMRZ0010302_InRes">
    <complexType name="CISHeaderType">
        <sequence>
            <element e:kor="전체전문길이" e:length="8" e:padder="SpaceRight" minOccurs="0" name="totTgrmLen" nillable="true" type="integer"/>
            <element e:kor="헤더길이" e:length="8" e:padder="SpaceRight" minOccurs="0" name="hdrLen" nillable="true" type="integer"/>
            <element e:kor="전문형식코드" e:length="1" e:padder="SpaceRight" minOccurs="0" name="tgrmFrmCd" nillable="true" type="string"/>
            <element e:kor="시스템환경구분코드" e:length="1" e:padder="SpaceRight" minOccurs="0" name="sysEnvGbcd" nillable="true" type="string"/>
            <element e:kor="IP주소" e:length="40" e:padder="SpaceRight" minOccurs="0" name="ipAdr" nillable="true" type="string"/>
            <element e:kor="GUID" e:length="38" e:padder="SpaceRight" minOccurs="0" name="guid" nillable="true" type="string"/>
            <element e:kor="진행번호" e:length="3" e:padder="SpaceRight" minOccurs="0" name="prgrNo" nillable="true" type="integer"/>
            <element e:kor="최초GUID" e:length="38" e:padder="SpaceRight" minOccurs="0" name="frstGuid" nillable="true" type="string"/>
            <element e:kor="전송시스템코드" e:length="3" e:padder="SpaceRight" minOccurs="0" name="sendSysCd" nillable="true" type="string"/>
            <element e:kor="최초전송시스템코드" e:length="3" e:padder="SpaceRight" minOccurs="0" name="frstSendSysCd" nillable="true" type="string"/>
            <element e:kor="시스템공통예비내용" e:length="21" e:padder="SpaceRight" minOccurs="0" name="sysCommTrtyPrepCntn" nillable="true" type="string"/>
            <element e:kor="EIMS전문ID" e:length="17" e:padder="SpaceRight" minOccurs="0" name="eimsTgrmId" nillable="true" type="string"/>
            <element e:kor="EIMS전문번호" e:length="3" e:padder="SpaceRight" minOccurs="0" name="eimsTgrmVerNo" nillable="true" type="string"/>
            <element e:kor="프래임워크거래ID" e:length="12" e:padder="SpaceRight" minOccurs="0" name="frwkTrdId" nillable="true" type="string"/>
            <element e:kor="수신시스템코드" e:length="3" e:padder="SpaceRight" minOccurs="0" name="rcvSysCd" nillable="true" type="string"/>
            <element e:kor="연계전문코드" e:length="10" e:padder="SpaceRight" minOccurs="0" name="tieTgrmCd" nillable="true" type="string"/>
            <element e:kor="연계서비스그룹코드" e:length="2" e:padder="SpaceRight" minOccurs="0" name="tieSrvGrpCd" nillable="true" type="string"/>
            <element e:kor="연계서비스명" e:length="30" e:padder="SpaceRight" minOccurs="0" name="tieSrvNm" nillable="true" type="string"/>
            <element e:kor="화면번호" e:length="20" e:padder="SpaceRight" minOccurs="0" name="scrnNo" nillable="true" type="string"/>
            <element e:kor="요청응답구분코드" e:length="1" e:padder="SpaceRight" minOccurs="0" name="reqnRespGbcd" nillable="true" type="string"/>
            <element e:kor="동기처리구분코드" e:length="1" e:padder="SpaceRight" minOccurs="0" name="syncProcGbcd" nillable="true" type="string"/>
            <element e:kor="거래응답코드" e:length="1" e:padder="SpaceRight" minOccurs="0" name="trdRespCd" nillable="true" type="string"/>
            <element e:kor="페이지번호" e:length="9" e:padder="SpaceRight" minOccurs="0" name="pageNo" nillable="true" type="integer"/>
            <element e:kor="페이지행건수" e:length="9" e:padder="SpaceRight" minOccurs="0" name="pageRowCnt" nillable="true" type="integer"/>
            <element e:kor="전체레코드건수" e:length="9" e:padder="SpaceRight" minOccurs="0" name="totRowCnt" nillable="true" type="integer"/>
            <element e:kor="다음페이지여부" e:length="1" e:padder="SpaceRight" minOccurs="0" name="nxtPageYn" nillable="true" type="string"/>
            <element e:kor="요청일시" e:length="17" e:padder="SpaceRight" minOccurs="0" name="reqnDtm" nillable="true" type="string"/>
            <element e:kor="응답일시" e:length="17" e:padder="SpaceRight" minOccurs="0" name="respDtm" nillable="true" type="string"/>
            <element e:kor="점코드" e:length="3" e:padder="SpaceRight" minOccurs="0" name="storeCd" nillable="true" type="string"/>
            <element e:kor="사용자ID" e:length="8" e:padder="SpaceRight" minOccurs="0" name="userId" nillable="true" type="string"/>
            <element e:kor="거래공통영역예비내용" e:length="100" e:padder="SpaceRight" minOccurs="0" name="trdCommTrtyPrepCntn" nillable="true" type="string"/>
            <element e:kor="메시지그룹명" e:length="0" e:padder="SpaceRight" minOccurs="0" name="msgGrpNm" nillable="true" type="ns:msgGrpNmType"/>
            <element e:kor="표준전문종료문자값" e:length="2" e:padder="SpaceRight" minOccurs="0" name="stdTgrmEndLettrVal" nillable="true" type="string"/>
        </sequence>
    </complexType>
    <complexType name="msgGrpNmType">
        <sequence>
            <element e:kor="메시지표시방법구분코드" e:length="1" e:padder="SpaceRight" minOccurs="0" name="msgShwMthdGbcd" nillable="true" type="string"/>
            <element e:kor="오류발생전문항목명" e:length="50" e:padder="SpaceRight" minOccurs="0" name="errOcrnTgrmClasNm" nillable="true" type="string"/>
            <element e:kor="메시지코드" e:length="10" e:padder="SpaceRight" minOccurs="0" name="msgCd" nillable="true" type="string"/>
            <element e:kor="메시지내용" e:length="300" e:padder="SpaceRight" minOccurs="0" name="msgCntn" nillable="true" type="string"/>
            <element e:kor="메시지세부내용" e:length="1000" e:padder="SpaceRight" minOccurs="0" name="msgDtlCntn" nillable="true" type="string"/>
        </sequence>
    </complexType>
    <complexType name="TOSCISPMRZ0010302_InRes_Header">
        <sequence>
            <element e:kor="식별코드" e:length="12" e:padder="SpaceRight" minOccurs="0" name="trCode" nillable="true" type="string"/>
            <element e:kor="서비스구분" e:length="3" e:padder="SpaceRight" minOccurs="0" name="svcGb" nillable="true" type="string"/>
            <element e:kor="송신자FLAG" e:length="1" e:padder="SpaceRight" minOccurs="0" name="sdFlag" nillable="true" type="string"/>
            <element e:kor="송신자ID" e:length="10" e:padder="SpaceRight" minOccurs="0" name="sdId" nillable="true" type="string"/>
            <element e:kor="수신자ID" e:length="10" e:padder="SpaceRight" minOccurs="0" name="rvId" nillable="true" type="string"/>
            <element e:kor="메시지ID" e:length="12" e:padder="SpaceRight" minOccurs="0" name="msgId" nillable="true" type="string"/>
            <element e:kor="고객코드" e:length="8" e:padder="SpaceRight" minOccurs="0" name="cpnyCd" nillable="true" type="string"/>
            <element e:kor="은행코드" e:length="2" e:padder="SpaceRight" minOccurs="0" name="bnkCd" nillable="true" type="string"/>
            <element e:kor="전문코드" e:length="4" e:padder="SpaceRight" minOccurs="0" name="ediCd" nillable="true" type="string"/>
            <element e:kor="업무구분" e:length="3" e:padder="SpaceRight" minOccurs="0" name="jobGb" nillable="true" type="string"/>
            <element e:kor="전문번호" e:length="6" e:padder="SpaceRight" minOccurs="0" name="ediNo" nillable="true" type="string"/>
            <element e:kor="전송일자" e:length="8" e:padder="SpaceRight" minOccurs="0" name="sdDate" nillable="true" type="string"/>
            <element e:kor="전송시간" e:length="6" e:padder="SpaceRight" minOccurs="0" name="sdTime" nillable="true" type="string"/>
            <element e:kor="응답코드" e:length="4" e:padder="SpaceRight" minOccurs="0" name="retCd" nillable="true" type="string"/>
            <element e:kor="예비영역" e:length="31" e:padder="SpaceRight" minOccurs="0" name="spareArea" nillable="true" type="string"/>
        </sequence>
    </complexType>
    <complexType name="TOSCISPMRZ0010302_InRes_Body">
        <sequence>
            <element e:kor="조회자식별코드" e:length="2" e:padder="SpaceRight" minOccurs="0" name="iqpsIdntCd" nillable="true" type="string"/>
            <element e:kor="전문순번" e:length="15" e:padder="SpaceRight" minOccurs="0" name="tgrmSeq" nillable="true" type="string"/>
            <element e:kor="자동이체은행코드" e:length="3" e:padder="SpaceRight" minOccurs="0" name="autoTrsfBankCd" nillable="true" type="string"/>
            <element e:kor="계좌번호" e:length="50" e:padder="SpaceRight" minOccurs="0" name="acno" nillable="true" type="string"/>
            <element e:kor="신청구분" e:length="1" e:padder="SpaceRight" minOccurs="0" name="reqGb" nillable="true" type="string"/>
            <element e:kor="일" e:length="2" e:padder="SpaceRight" minOccurs="0" name="day" nillable="true" type="string"/>
            <element e:kor="은행지점코드" e:length="6" e:padder="SpaceRight" minOccurs="0" name="bankBrnCd" nillable="true" type="string"/>
            <element e:kor="신청일자" e:length="8" e:padder="SpaceRight" minOccurs="0" name="reqDt" nillable="true" type="string"/>
            <element e:kor="처리여부" e:length="1" e:padder="SpaceRight" minOccurs="0" name="procYn" nillable="true" type="string"/>
            <element e:kor="불능코드" e:length="4" e:padder="SpaceRight" minOccurs="0" name="inabCd" nillable="true" type="string"/>
            <element e:kor="체크여부" e:length="1" e:padder="SpaceRight" minOccurs="0" name="chkYn" nillable="true" type="string"/>
            <element e:kor="생년월일" e:length="8" e:padder="SpaceRight" minOccurs="0" name="bymd" nillable="true" type="string"/>
            <element e:kor="납부자번호" e:length="20" e:padder="SpaceRight" minOccurs="0" name="pmpsnNo" nillable="true" type="string"/>
            <element e:kor="업체사용정보" e:length="21" e:padder="SpaceRight" minOccurs="0" name="custUseInf" nillable="true" type="string"/>
            <element e:kor="기관코드" e:length="12" e:padder="SpaceRight" minOccurs="0" name="istnCd" nillable="true" type="string"/>
            <element e:kor="외부이벤트여부" e:length="1" e:padder="SpaceRight" minOccurs="0" name="outEvntYn" nillable="true" type="string"/>
            <element e:kor="예비값" e:length="1" e:padder="SpaceRight" minOccurs="0" name="prepVal" nillable="true" type="string"/>
            <element e:kor="자동이체전문번호" e:length="4" e:padder="SpaceRight" minOccurs="0" name="autoTrsfTgrmNo" nillable="true" type="string"/>
            <element e:kor="적용구분코드" e:length="1" e:padder="SpaceRight" minOccurs="0" name="aplyGbcd" nillable="true" type="string"/>
            <element e:kor="공통은행코드" e:length="3" e:padder="SpaceRight" minOccurs="0" name="commBankCd" nillable="true" type="string"/>
            <element e:kor="개별은행코드" e:length="3" e:padder="SpaceRight" minOccurs="0" name="indvBankCd" nillable="true" type="string"/>
            <element e:kor="지로번호" e:length="10" e:padder="SpaceRight" minOccurs="0" name="giroNo" nillable="true" type="string"/>
            <element e:kor="동의구분코드" e:length="2" e:padder="SpaceRight" minOccurs="0" name="agrGbcd" nillable="true" type="string"/>
            <element e:kor="공백값" e:length="20" e:padder="SpaceRight" minOccurs="0" name="nullVal" nillable="true" type="string"/>
        </sequence>
    </complexType>
    <complexType name="TOSCISPMRZ0010302_InRes">
        <sequence>
            <element e:kor="BIZ공통부" name="bizHeader" type="ns:TOSCISPMRZ0010302_InRes_Header"/>
            <element e:kor="BIZ데이터부" name="bizBody" type="ns:TOSCISPMRZ0010302_InRes_Body"/>
        </sequence>
    </complexType>
    <complexType name="rootType">
        <sequence>
            <element e:kor="CIS공통부" name="header" type="ns:CISHeaderType"/>
            <element e:kor="CIS데이터부" name="data" type="ns:TOSCISPMRZ0010302_InRes"/>
        </sequence>
    </complexType>
    <element name="root" type="ns:rootType"/>
</schema>
