TBVCIS301.module/Schemas/TBVCISCTJD/TBVCISCTJD0150101/TBVCISCTJD0150101_InReq_df.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:e="http://shacon.kr/xsd" xmlns:ns="http://schema.hcis.com/xsd/TBVCISCTJD0150101" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://schema.hcis.com/xsd/TBVCISCTJD0150101">
    <element name="root">
        <complexType>
            <sequence>
                <element name="bizHeader" type="ns:TBVCISCTJD0150101_InReq_Header"/>
                <element name="bizBody" type="ns:TBVCISCTJD0150101_InReq_Body"/>
            </sequence>
        </complexType>
    </element>
</schema>
