JNICIS301.module/Schemas/JNICISCTIC/JNICISCTIC0030101/JNICISCTIC0030101_InReq_df.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:e="http://shacon.kr/xsd" xmlns:ns="http://schema.hcis.com/xsd/JNICISCTIC0030101" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://schema.hcis.com/xsd/JNICISCTIC0030101">
    <element name="root">
        <complexType>
            <sequence>
                <element name="bizHeader" type="ns:JNICISCTIC0030101_InReq_Header"/>
                <element name="bizBody" type="ns:JNICISCTIC0030101_InReq_Body"/>
            </sequence>
        </complexType>
    </element>
</schema>
