MYDCIS301.module/Schemas/MYDCISCTCN/MYDCISCTCN0050101/MYDCISCTCN0050101_InRes.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:e="http://shacon.kr/xsd" xmlns:ns="http://schema.hcis.com/xsd/MYDCISCTCN0050101_InRes" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schema.hcis.com/xsd/MYDCISCTCN0050101_InRes">
    <complexType name="MYDCISCTCN0050101_InRes">
        <sequence>
            <element e:kor="응답코드" e:length="5" e:padder="SpaceRight" name="respCd" nillable="true" type="string"/>
            <element e:kor="응답메시지" e:length="450" e:padder="SpaceRight" name="respMsg" nillable="true" type="string"/>
        </sequence>
    </complexType>
    <element name="root" type="ns:MYDCISCTCN0050101_InRes"/>
</schema>
