GCSCIS301.module/Schemas/GCSCISCTJD/GCSCISCTJD0160104/CISGCSCTJD0160104_InRes_df.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:e="http://shacon.kr/xsd" xmlns:ns="http://schema.hcis.com/xsd/CISGCSCTJD0160104" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://schema.hcis.com/xsd/CISGCSCTJD0160104">
    <element name="root">
        <complexType>
            <sequence>
                <element name="bizHeader" type="ns:CISGCSCTJD0160104_InRes_Header"/>
                <element name="bizBody" type="ns:CISGCSCTJD0160104_InRes_Body"/>
            </sequence>
        </complexType>
    </element>
</schema>
