CISNIC301.module/Schemas/CISNICSCAZ/CISNICSCAZ0030101/CISNICSCAZ0030101_InReq.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:e="http://shacon.kr/xsd" xmlns:ns="http://schema.hcis.com/xsd/CISNICSCAZ0030101_InReq" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schema.hcis.com/xsd/CISNICSCAZ0030101_InReq">
    <complexType name="CISHeaderType">
        <sequence>
            <element e:kor="전체전문길이" e:length="8" e:padder="SpaceRight" minOccurs="0" name="totTgrmLen" nillable="true" type="integer"/>
            <element e:kor="헤더길이" e:length="8" e:padder="SpaceRight" minOccurs="0" name="hdrLen" nillable="true" type="integer"/>
            <element e:kor="전문형식코드" e:length="1" e:padder="SpaceRight" minOccurs="0" name="tgrmFrmCd" nillable="true" type="string"/>
            <element e:kor="시스템환경구분코드" e:length="1" e:padder="SpaceRight" minOccurs="0" name="sysEnvGbcd" nillable="true" type="string"/>
            <element e:kor="IP주소" e:length="40" e:padder="SpaceRight" minOccurs="0" name="ipAdr" nillable="true" type="string"/>
            <element e:kor="GUID" e:length="38" e:padder="SpaceRight" minOccurs="0" name="guid" nillable="true" type="string"/>
            <element e:kor="진행번호" e:length="3" e:padder="SpaceRight" minOccurs="0" name="prgrNo" nillable="true" type="integer"/>
            <element e:kor="최초GUID" e:length="38" e:padder="SpaceRight" minOccurs="0" name="frstGuid" nillable="true" type="string"/>
            <element e:kor="전송시스템코드" e:length="3" e:padder="SpaceRight" minOccurs="0" name="sendSysCd" nillable="true" type="string"/>
            <element e:kor="최초전송시스템코드" e:length="3" e:padder="SpaceRight" minOccurs="0" name="frstSendSysCd" nillable="true" type="string"/>
            <element e:kor="시스템공통예비내용" e:length="21" e:padder="SpaceRight" minOccurs="0" name="sysCommTrtyPrepCntn" nillable="true" type="string"/>
            <element e:kor="EIMS전문ID" e:length="17" e:padder="SpaceRight" minOccurs="0" name="eimsTgrmId" nillable="true" type="string"/>
            <element e:kor="EIMS전문번호" e:length="3" e:padder="SpaceRight" minOccurs="0" name="eimsTgrmVerNo" nillable="true" type="string"/>
            <element e:kor="프래임워크거래ID" e:length="12" e:padder="SpaceRight" minOccurs="0" name="frwkTrdId" nillable="true" type="string"/>
            <element e:kor="수신시스템코드" e:length="3" e:padder="SpaceRight" minOccurs="0" name="rcvSysCd" nillable="true" type="string"/>
            <element e:kor="연계전문코드" e:length="10" e:padder="SpaceRight" minOccurs="0" name="tieTgrmCd" nillable="true" type="string"/>
            <element e:kor="연계서비스그룹코드" e:length="2" e:padder="SpaceRight" minOccurs="0" name="tieSrvGrpCd" nillable="true" type="string"/>
            <element e:kor="연계서비스명" e:length="30" e:padder="SpaceRight" minOccurs="0" name="tieSrvNm" nillable="true" type="string"/>
            <element e:kor="화면번호" e:length="20" e:padder="SpaceRight" minOccurs="0" name="scrnNo" nillable="true" type="string"/>
            <element e:kor="요청응답구분코드" e:length="1" e:padder="SpaceRight" minOccurs="0" name="reqnRespGbcd" nillable="true" type="string"/>
            <element e:kor="동기처리구분코드" e:length="1" e:padder="SpaceRight" minOccurs="0" name="syncProcGbcd" nillable="true" type="string"/>
            <element e:kor="거래응답코드" e:length="1" e:padder="SpaceRight" minOccurs="0" name="trdRespCd" nillable="true" type="string"/>
            <element e:kor="페이지번호" e:length="9" e:padder="SpaceRight" minOccurs="0" name="pageNo" nillable="true" type="integer"/>
            <element e:kor="페이지행건수" e:length="9" e:padder="SpaceRight" minOccurs="0" name="pageRowCnt" nillable="true" type="integer"/>
            <element e:kor="전체레코드건수" e:length="9" e:padder="SpaceRight" minOccurs="0" name="totRowCnt" nillable="true" type="integer"/>
            <element e:kor="다음페이지여부" e:length="1" e:padder="SpaceRight" minOccurs="0" name="nxtPageYn" nillable="true" type="string"/>
            <element e:kor="요청일시" e:length="17" e:padder="SpaceRight" minOccurs="0" name="reqnDtm" nillable="true" type="string"/>
            <element e:kor="응답일시" e:length="17" e:padder="SpaceRight" minOccurs="0" name="respDtm" nillable="true" type="string"/>
            <element e:kor="점코드" e:length="3" e:padder="SpaceRight" minOccurs="0" name="storeCd" nillable="true" type="string"/>
            <element e:kor="사용자ID" e:length="8" e:padder="SpaceRight" minOccurs="0" name="userId" nillable="true" type="string"/>
            <element e:kor="거래공통영역예비내용" e:length="100" e:padder="SpaceRight" minOccurs="0" name="trdCommTrtyPrepCntn" nillable="true" type="string"/>
            <element e:kor="메시지그룹명" e:length="0" e:padder="SpaceRight" minOccurs="0" name="msgGrpNm" nillable="true" type="ns:msgGrpNmType"/>
            <element e:kor="표준전문종료문자값" e:length="2" e:padder="SpaceRight" minOccurs="0" name="stdTgrmEndLettrVal" nillable="true" type="string"/>
        </sequence>
    </complexType>
    <complexType name="msgGrpNmType">
        <sequence>
            <element e:kor="메시지표시방법구분코드" e:length="1" e:padder="SpaceRight" minOccurs="0" name="msgShwMthdGbcd" nillable="true" type="string"/>
            <element e:kor="오류발생전문항목명" e:length="50" e:padder="SpaceRight" minOccurs="0" name="errOcrnTgrmClasNm" nillable="true" type="string"/>
            <element e:kor="메시지코드" e:length="10" e:padder="SpaceRight" minOccurs="0" name="msgCd" nillable="true" type="string"/>
            <element e:kor="메시지내용" e:length="300" e:padder="SpaceRight" minOccurs="0" name="msgCntn" nillable="true" type="string"/>
            <element e:kor="메시지세부내용" e:length="1000" e:padder="SpaceRight" minOccurs="0" name="msgDtlCntn" nillable="true" type="string"/>
        </sequence>
    </complexType>
    <complexType name="CISNICSCAZ0030101_InReq_Header">
        <sequence>
            <element e:kor="TR번호" e:length="9" e:padder="SpaceRight" minOccurs="0" name="trNo" nillable="true" type="string"/>
            <element e:kor="전문그룹코드" e:length="9" e:padder="SpaceRight" minOccurs="0" name="tgrmGrpCd" nillable="true" type="string"/>
            <element e:kor="거래종별코드" e:length="4" e:padder="SpaceRight" minOccurs="0" name="trdSubCCd" nillable="true" type="string"/>
            <element e:kor="거래구분코드" e:length="5" e:padder="SpaceRight" minOccurs="0" name="trdGbcd" nillable="true" type="string"/>
            <element e:kor="송신수신구분" e:length="1" e:padder="SpaceRight" minOccurs="0" name="trsRcvGb" nillable="true" type="string"/>
            <element e:kor="단말기구분코드" e:length="3" e:padder="SpaceRight" minOccurs="0" name="teGbcd" nillable="true" type="string"/>
            <element e:kor="응답코드" e:length="4" e:padder="SpaceRight" minOccurs="0" name="respCd" nillable="true" type="string"/>
        </sequence>
    </complexType>
    <complexType name="CISNICSCAZ0030101_InReq_Body">
        <sequence>
            <element e:kor="기관ID" e:length="9" e:padder="SpaceRight" minOccurs="0" name="istnId" nillable="true" type="string"/>
            <element e:kor="기관전문관리번호" e:length="10" e:padder="ZeroLeft" minOccurs="0" name="istnTgrmMngNo" nillable="true" type="long"/>
            <element e:kor="기관전문전송시간" e:length="14" e:padder="ZeroLeft" minOccurs="0" name="istnTgrmSendTime" nillable="true" type="long"/>
            <element e:kor="NICE전문관리번호" e:length="10" e:padder="ZeroLeft" minOccurs="0" name="niceTgrmMngNo" nillable="true" type="long"/>
            <element e:kor="NICE전문전송시간" e:length="14" e:padder="ZeroLeft" minOccurs="0" name="niceTgrmSendTime" nillable="true" type="long"/>
            <element e:kor="주요BITMAP" e:length="16" e:padder="SpaceRight" minOccurs="0" name="prmrBmp" nillable="true" type="string"/>
            <element e:kor="조회동의사유코드" e:length="1" e:padder="SpaceRight" minOccurs="0" name="qryAgrRsnCd" nillable="true" type="string"/>
            <element e:kor="개인법인구분코드" e:length="1" e:padder="ZeroLeft" minOccurs="0" name="psnCorpGbcd" nillable="true" type="long"/>
            <element e:kor="주민등록번호" e:length="13" e:padder="SpaceRight" minOccurs="0" name="rrno" nillable="true" type="string"/>
            <element e:kor="조회사유코드" e:length="2" e:padder="ZeroLeft" minOccurs="0" name="qryRsnCd" nillable="true" type="long"/>
            <element e:kor="조회자식별코드" e:length="20" e:padder="SpaceRight" minOccurs="0" name="iqpsIdntCd" nillable="true" type="string"/>
            <element e:kor="재요청횟수" e:length="2" e:padder="ZeroLeft" minOccurs="0" name="reReqnCnt" nillable="true" type="long"/>
            <element e:kor="인증번호" e:length="12" e:padder="SpaceRight" minOccurs="0" name="certNo" nillable="true" type="string"/>
            <element e:kor="부가정보구분" e:length="10" e:padder="SpaceRight" minOccurs="0" name="addInfGb" nillable="true" type="string"/>
            <element e:kor="예비필드1" e:length="0" e:padder="SpaceRight" minOccurs="0" name="prepFld1" nillable="true" type="string"/>
            <element e:kor="예비필드2" e:length="0" e:padder="SpaceRight" minOccurs="0" name="prepFld2" nillable="true" type="string"/>
            <element e:kor="예비필드3" e:length="0" e:padder="SpaceRight" minOccurs="0" name="prepFld3" nillable="true" type="string"/>
            <element e:kor="예비필드4" e:length="0" e:padder="SpaceRight" minOccurs="0" name="prepFld4" nillable="true" type="string"/>
            <element e:kor="예비필드5" e:length="0" e:padder="SpaceRight" minOccurs="0" name="prepFld5" nillable="true" type="string"/>
            <element e:kor="예비필드6" e:length="0" e:padder="SpaceRight" minOccurs="0" name="prepFld6" nillable="true" type="string"/>
            <element e:kor="예비필드7" e:length="0" e:padder="SpaceRight" minOccurs="0" name="prepFld7" nillable="true" type="string"/>
            <element e:kor="예비필드8" e:length="0" e:padder="SpaceRight" minOccurs="0" name="prepFld8" nillable="true" type="string"/>
            <element e:kor="예비필드9" e:length="0" e:padder="SpaceRight" minOccurs="0" name="prepFld9" nillable="true" type="string"/>
            <element e:kor="예비필드10" e:length="0" e:padder="SpaceRight" minOccurs="0" name="prepFld10" nillable="true" type="string"/>
            <element e:kor="채무불이행신정원수신건수" e:length="3" e:padder="ZeroLeft" minOccurs="0" name="debtNoffilKcrRcvCnt" nillable="true" type="long"/>
            <element e:kor="채무불이행신정원요청건수" e:length="2" e:padder="ZeroLeft" minOccurs="0" name="debtNoffilKcrReqnCnt" nillable="true" type="long"/>
            <element e:kor="채무불이행NICE수신건수" e:length="3" e:padder="ZeroLeft" minOccurs="0" name="debtNoffilNiceRcvCnt" nillable="true" type="long"/>
            <element e:kor="채무불이행NICE요청건수" e:length="2" e:padder="ZeroLeft" minOccurs="0" name="debtNoffilNiceReqnCnt" nillable="true" type="long"/>
            <element e:kor="신용개설정보수신건수" e:length="3" e:padder="ZeroLeft" minOccurs="0" name="crdtOpeInfRcvCnt" nillable="true" type="long"/>
            <element e:kor="신용개설정보요청건수" e:length="2" e:padder="ZeroLeft" minOccurs="0" name="crdtOpeInfReqnCnt" nillable="true" type="long"/>
            <element e:kor="신용조회정보수신건수" e:length="3" e:padder="ZeroLeft" minOccurs="0" name="crdtQryInfRcvCnt" nillable="true" type="long"/>
            <element e:kor="신용조회정보요청건수" e:length="2" e:padder="ZeroLeft" minOccurs="0" name="crdtQryInfReqnCnt" nillable="true" type="long"/>
            <element e:kor="CB연체정보수신건수" e:length="3" e:padder="ZeroLeft" minOccurs="0" name="cbOdueInfRcvCnt" nillable="true" type="long"/>
            <element e:kor="CB연체정보요청건수" e:length="2" e:padder="ZeroLeft" minOccurs="0" name="cbOdueInfReqnCnt" nillable="true" type="long"/>
            <element e:kor="CB자택정보변경이력정보수신건수" e:length="3" e:padder="ZeroLeft" minOccurs="0" name="cbHmInfChgHisInfRcvCnt" nillable="true" type="long"/>
            <element e:kor="CB자택정보변경이력정보요청건수" e:length="2" e:padder="ZeroLeft" minOccurs="0" name="cbHmInfChgHisInfReqnCnt" nillable="true" type="long"/>
            <element e:kor="CB직장정보변경이력정보수신건수" e:length="3" e:padder="ZeroLeft" minOccurs="0" name="cbOfcInfChgHisInfRcvCnt" nillable="true" type="long"/>
            <element e:kor="CB직장정보변경이력요청건수" e:length="2" e:padder="ZeroLeft" minOccurs="0" name="cbOfcInfChgHisReqnCnt" nillable="true" type="long"/>
            <element e:kor="요약서비스수신건수" e:length="3" e:padder="ZeroLeft" minOccurs="0" name="smrySrvRcvCnt" nillable="true" type="long"/>
            <element e:kor="요약서비스요청건수" e:length="2" e:padder="ZeroLeft" minOccurs="0" name="smrySrvReqnCnt" nillable="true" type="long"/>
            <element e:kor="요약서비스구분정보_배열건수" e:length="5" e:padder="ZeroLeft" minOccurs="0" name="smrySrvGbInfRowcount" nillable="true" type="long"/>
            <element e:kor="요약서비스구분정보_배열" e:padder="ZeroLeft" maxOccurs="unbounded" minOccurs="0" name="smrySrvGbInfList" nillable="true" type="ns:SMRY_SRV_GB_INF_LIST_TYPE"/>
        </sequence>
    </complexType>
    <complexType name="SMRY_SRV_GB_INF_LIST_TYPE">
        <sequence>
            <element e:kor="요약서비스구분정보" e:length="2" e:padder="SpaceRight" minOccurs="0" name="smrySrvGbInf" nillable="true" type="string"/>
            <element e:kor="요약항목코드" e:length="9" e:padder="SpaceRight" minOccurs="0" name="smryClasCd" nillable="true" type="string"/>
        </sequence>
    </complexType>
    <complexType name="CISNICSCAZ0030101_InReq">
        <sequence>
            <element e:kor="BIZ공통부" name="bizHeader" type="ns:CISNICSCAZ0030101_InReq_Header"/>
            <element e:kor="BIZ데이터부" name="bizBody" type="ns:CISNICSCAZ0030101_InReq_Body"/>
        </sequence>
    </complexType>
    <complexType name="rootType">
        <sequence>
            <element e:kor="CIS공통부" name="header" type="ns:CISHeaderType"/>
            <element e:kor="CIS데이터부" name="data" type="ns:CISNICSCAZ0030101_InReq"/>
        </sequence>
    </complexType>
    <element name="root" type="ns:rootType"/>
</schema>
