NIBCIS301.module/Schemas/NIBCISCTJD/NIBCISCTJD0130101/CISNIBCTJD0130102_InRes_df.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:e="http://shacon.kr/xsd" xmlns:ns="http://schema.hcis.com/xsd/CISNIBCTJD0130102" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://schema.hcis.com/xsd/CISNIBCTJD0130102">
    <element name="root">
        <complexType>
            <sequence>
                <element name="bizHeader" type="ns:CISNIBCTJD0130102_InRes_Header"/>
                <element name="bizBody" type="ns:CISNIBCTJD0130102_InRes_Body"/>
            </sequence>
        </complexType>
    </element>
</schema>
