CISNIC301.module/Schemas/CISNICUPID/CISNICUPID0010601/CISNICUPID0010601_OutReq_df.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:e="http://shacon.kr/xsd" xmlns:ns="http://schema.hcis.com/xsd/CISNICUPID0010601" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://schema.hcis.com/xsd/CISNICUPID0010601">
    <element name="root">
        <complexType>
            <sequence>
                <element name="bizHeader" type="ns:CISNICUPID0010601_OutReq_Header"/>
                <element name="bizBody" type="ns:CISNICUPID0010601_OutReq_Body"/>
            </sequence>
        </complexType>
    </element>
</schema>
