CISKCB301.module/Schemas/CISKCBCTJB/CISKCBCTJB0100101/CISKCBCTJB0100101_OutReq_df.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:e="http://shacon.kr/xsd" xmlns:ns="http://schema.hcis.com/xsd/CISKCBCTJB0100101" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://schema.hcis.com/xsd/CISKCBCTJB0100101">
    <element name="root">
        <complexType>
            <sequence>
                <element name="bizHeader" type="ns:CISKCBCTJB0100101_OutReq_Header"/>
                <element name="bizBody" type="ns:CISKCBCTJB0100101_OutReq_Body"/>
            </sequence>
        </complexType>
    </element>
</schema>
